In [ ]:
classification is supervised ML method aims to predict discrete set of outcomes from a given set of animals.

In [ ]:
eg, from given set of animals....classify given image to a particular animal class.

1.Binary classification - The aim is to predict possible outcomes into 2 classes.

eg: classify given image as male or female.
    looking at email & classifying it as spam or not spam.
    weather prii will go to trip or not.

In [ ]:
popular classification methods uses in binary classification,

KNN(K Nearest Neighbour) classification.
Decision trees.
SVM.
Logistic Regression: only supports binary classification.

Multiclass classification
in multiclass, its aim is to predict more than 2 class outcome.
eg, Animal classification.
    Fruit classification.
    
    DT, KNN, naive bayes, Random forest....

In [ ]:
Few terminologies.....,

classifier - is an algorithm used to classify given data(KNN, DT, LR)
classification Model - that predicts the given data(Trained classifier)
Model Evaluation - performance measurement of the classification results.
Features - performance measurement of the classification results.

In [ ]:
classifires avalible....,
Logistic regression
KNN
Decision tree
random forest
naive bayes
SVM support vector machine
ANN- Artificial neural nework.
CNN- Convolution neural network.

features: the given input data columns used for classification.

classification avalible,
Logistic regression.
KNN.
Decision tree.
Random forest.
SVM Support vector machine.
ANN Artificial Neural Network.
CNN convolutional neural Network.

In [ ]:
steps involved in building classification model

1. import the data
2. clean the input data
3. split the data into training set & test set
4. choose the classifier
5. using the classifier train the model on training data(classifier.fit method)
6. use the trained model to predict the results on test data
7. compare the accuracy

In [ ]:
KNearest Algorithm

K Nearest neighbour classification
  KNN Classification is most basic classification algorithm, easy to understand & supervised classification algorithm.
  KNN can also be used for regression algorithm.
  KNN also called as lazy learning algorithm, it dosnt have any training phase,

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
print('lib imported')

lib imported

In [2]:
data = pd.read_csv('Iris.csv')
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
X = data.iloc[:,[1,2,3,4]].values#independent
y = data.iloc[:, 5].values#dependent
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
from sklearn.preprocessing import LabelEncoder
L=LabelEncoder()
data['Species']=L.fit_transform(data['Species'])
data

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      1            5.1           3.5            1.4           0.2        0
1      2            4.9           3.0            1.4           0.2        0
2      3            4.7           3.2            1.3           0.2        0
3      4            4.6           3.1            1.5           0.2        0
4      5            5.0           3.6            1.4           0.2        0
..   ...            ...           ...            ...           ...      ...
145  146            6.7           3.0            5.2           2.3        2
146  147            6.3           2.5            5.0           1.9        2
147  148            6.5           3.0            5.2           2.0        2
148  149            6.2           3.4            5.4           2.3        2
149  150            5.9           3.0            5.1           1.8        2

[150 rows x 6 columns]

In [6]:
X=X.astype(np.float64)
Y=y.astype(np.float64)

ValueError: could not convert string to float: 'Iris-setosa'