# Regression 
Regression is a type of supervised learning in ML that helps in mapping a predictive relationship between labels and data points. The top types of regression algorithms in ML are linear, polynomial, logistic, stepwise, etc.

In [1]:
# Importing Libraries
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('Housing price prediction.csv')    #importing data      
data

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386
...,...,...,...,...,...,...,...
4995,60567.944140,7.830362,6.137356,3.46,22837.361035,1.060194e+06,USNS Williams\nFPO AP 30153-7653
4996,78491.275435,6.999135,6.576763,4.02,25616.115489,1.482618e+06,"PSC 9258, Box 8489\nAPO AA 42991-3352"
4997,63390.686886,7.250591,4.805081,2.13,33266.145490,1.030730e+06,"4215 Tracy Garden Suite 076\nJoshualand, VA 01..."
4998,68001.331235,5.534388,7.130144,5.44,42625.620156,1.198657e+06,USS Wallace\nFPO AE 73316
4999,65510.581804,5.992305,6.792336,4.07,46501.283803,1.298950e+06,"37778 George Ridges Apt. 509\nEast Holly, NV 2..."

In [3]:
# Dropping Address Column
data.drop(['Address'],axis=1,inplace=True)

In [4]:
data

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05
...,...,...,...,...,...,...
4995,60567.944140,7.830362,6.137356,3.46,22837.361035,1.060194e+06
4996,78491.275435,6.999135,6.576763,4.02,25616.115489,1.482618e+06
4997,63390.686886,7.250591,4.805081,2.13,33266.145490,1.030730e+06
4998,68001.331235,5.534388,7.130144,5.44,42625.620156,1.198657e+06
4999,65510.581804,5.992305,6.792336,4.07,46501.283803,1.298950e+06

In [27]:
#independent
# Putting feature variable to X
X = data.iloc[:,[0,1,2,3,4]].values
#Dependent
# Putting response variable to y
Y = data.iloc[:,5].values

In [28]:
# Checking for Null Values
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Avg. Area Income              5000 non-null   float64
 1   Avg. Area House Age           5000 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               5000 non-null   float64
 5   Price                         5000 non-null   float64
dtypes: float64(6)
memory usage: 234.5 KB

In [29]:
# Getting the summary of Data
data.describe()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5.000000e+03
mean,68583.108984,5.977222,6.987792,3.981330,36163.516039,1.232073e+06
std,10657.991214,0.991456,1.005833,1.234137,9925.650114,3.531176e+05
min,17796.631190,2.644304,3.236194,2.000000,172.610686,1.593866e+04
25%,61480.562388,5.322283,6.299250,3.140000,29403.928702,9.975771e+05
50%,68804.286404,5.970429,7.002902,4.050000,36199.406689,1.232669e+06
75%,75783.338666,6.650808,7.665871,4.490000,42861.290769,1.471210e+06
max,107701.748378,9.519088,10.759588,6.500000,69621.713378,2.469066e+06

In [30]:
from sklearn import preprocessing                      #Importing scikit learn  
pre_process = preprocessing.StandardScaler()

In [31]:
X = pd.DataFrame(pre_process.fit_transform(X))         #fit_transform used to training data so that we can scale the training 
                                                       #data and also learn the scaling parameters of that data.

In [32]:
data.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05

In [33]:
X.head()

          0         1         2         3         4
0  1.028660 -0.296927  0.021274  0.088062 -1.317599
1  1.000808  0.025902 -0.255506 -0.722301  0.403999
2 -0.684629 -0.112303  1.516243  0.930840  0.072410
3 -0.491499  1.221572 -1.393077 -0.584540 -0.186734
4 -0.807073 -0.944834  0.846742  0.201513 -0.988387

In [35]:
from sklearn.model_selection import train_test_split                   #importing test_train_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=0.8 ,test_size = 0.2, random_state=0)
#given train size 80% & test size 20% for getting higher accuracy.

In [36]:
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(4000, 5)
(1000, 5)
(4000,)
(1000,)

In [40]:
#import linear regression
from sklearn.linear_model import LinearRegression
LR=LinearRegression()
LR.fit(X_train,Y_train)

LinearRegression()

In [41]:
#prediction of test data
Yprediction=LR.predict(X_test)

In [42]:
import statsmodels.formula.api as sm                        #importing statsmodels & Application Program Interface.
import statsmodels.regression.linear_model as SM

In [43]:
I=np.append(arr=np.ones([5000,5]).astype(int),values=X,axis=1)           #inserting values for test
print(I)

[[ 1.          1.          1.         ...  0.02127433  0.08806222
  -1.31759867]
 [ 1.          1.          1.         ... -0.25550611 -0.72230146
   0.40399945]
 [ 1.          1.          1.         ...  1.5162435   0.93084045
   0.07240989]
 ...
 [ 1.          1.          1.         ... -2.17026949 -1.50025059
  -0.29193658]
 [ 1.          1.          1.         ...  0.14154061  1.18205319
   0.65111608]
 [ 1.          1.          1.         ... -0.19434166  0.07185495
   1.04162464]]

In [44]:
#endog-dependent
#exdog-independent
Iopt=I[:,[0,1,2,3,4]]
Optimizer=SM.OLS(endog=Y,exog=Iopt).fit()
Optimizer.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                       nan
Date:                Sat, 18 Sep 2021   Prob (F-statistic):                nan
Time:                        00:49:56   Log-Likelihood:                -70967.
No. Observations:                5000   AIC:                         1.419e+05
Df Residuals:                    4999   BIC:                         1.419e+05
Df Model:                           0
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       2.464e+05    998.767    246.719      0.000    2.44e+05    2.48e+05
x1          2.464e+05    998.767    246.719      0.000    2.44e+05    2.48e+05
x2          2.464e+05    998.767    246.719      0.000    2.44e+05    2.48e+05
x3          2.464e+05    998.767    246.719      0.000    2.44e+05    2.48e+05
x4          2.464e+05    998.767    246.719      0.000    2.44e+05    2.48e+05
==============================================================================
Omnibus:                        0.618   Durbin-Watson:                   2.000
Prob(Omnibus):                  0.734   Jarque-Bera (JB):                0.661
Skew:                          -0.003   Prob(JB):                        0.719
Kurtosis:                       2.944   Cond. No.                     3.37e+64
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.2e-125. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [45]:
Iopt=I[:,[2,3,4]]                                   #Randomly checking multiple times.
Optimizer=SM.OLS(endog=Y,exog=Iopt).fit()
Optimizer.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                       nan
Date:                Sat, 18 Sep 2021   Prob (F-statistic):                nan
Time:                        00:50:01   Log-Likelihood:                -70967.
No. Observations:                5000   AIC:                         1.419e+05
Df Residuals:                    4999   BIC:                         1.419e+05
Df Model:                           0
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       4.107e+05   1664.612    246.719      0.000    4.07e+05    4.14e+05
x1          4.107e+05   1664.612    246.719      0.000    4.07e+05    4.14e+05
x2          4.107e+05   1664.612    246.719      0.000    4.07e+05    4.14e+05
==============================================================================
Omnibus:                        0.618   Durbin-Watson:                   2.000
Prob(Omnibus):                  0.734   Jarque-Bera (JB):                0.661
Skew:                          -0.003   Prob(JB):                        0.719
Kurtosis:                       2.944   Cond. No.                     2.12e+31
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.35e-59. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [ ]:
----------------------||---------------------------